---
import BlockRendererInner from "./BlockRenderer.astro";
import { getBlockStyling } from "@wp-block-tools/styles";
import type { Block } from "@wp-block-tools/styles";
import { Image } from "astro:assets";
type Props = {
  blocks: Block[];
};
const { blocks } = Astro.props;
console.log("BLOCK FROM BLOCK RENDERER COMPONENT: ", blocks);
---

{
  blocks.map((block) => {
    const { styles, classes } = getBlockStyling(block);
    switch (block.name) {
      case "core/navigation":
        return (
          <Navigation class={classes} style={styles}>
            <BlockRendererInner blocks={block.innerBlocks || []} />
          </Navigation>
        );

      case "core/paragraph":
        return (
          <p
            class={classes}
            style={styles}
            set:html={block.attributes?.content}
          />
        );
      case "core/column":
      case "core/columns":
      case "core/post-content":
      case "core/group":
        return (
          <div class={classes} style={styles}>
            <BlockRendererInner blocks={block.innerBlocks || []} />
          </div>
        );
      case "core/site-logo":
        return (
          <div class={classes} style={styles}>
            <Image
              width={block.attributes?.width || 100}
              height={block.attributes?.height || 100}
              src={block.attributes?.url || ""}
              alt={block.attributes?.alt || "Site Logo"}
            />
          </div>
        );
      case "core/template-part":
        return <BlockRendererInner blocks={block.innerBlocks || []} />;
      default:
        return null;
    }
  })
}
